depexts: [
  ["react"] {npm-version = "^19.1.0"}
  ["react-dom"] {npm-version = "^19.1.0"}
]
pin-depends: [
  [ "opam-check-npm-deps.dev" "git+https://github.com/ahrefs/opam-check-npm-deps.git#23270f9574c5866dae2c3948d58d929ce6ea2118"]
]

