@media (min-width: 480px) {
  .fixedHeaderContainer header > a > img, a.nav-home img {
    transition: 3s;
  }
  .fixedHeaderContainer header > a:hover > img {
    transform: rotate(1080deg);
  }
  a.nav-home:hover img {
    transform: rotate(-1080deg);
  }
}

/* code */
.prism {
  border: 1px solid rgba(218, 218, 218, 0.5);
  border-radius: 6px;
  padding: 15px;
}
.prism.language-javascript {
  background-color: rgba(247, 223, 30, 0.03);
}
.prism .comment {
  opacity: 0.7;
}

@media only screen and (min-width: 480px) {
  .projectTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projectTitle > small {
    max-width: 40%;
  }
}

a.hash-link {
  transition: none;
}

.read-more .button {
  margin: 0;
}

.fixedHeaderContainer {
  padding: 9px 0;
}

/* only show language icon */
#languages-menu {
  font-size: 0px;
  padding: 0;
}
#languages-menu .languages-icon {
  margin: 0;
  padding: 6px 10px;
}
#languages-dropdown {
  width: auto;
  right: 0;
}
/* only targets language dropdown li, i swear */
@media only screen and (min-width: 1024px) {
  .nav-site > span > li {
    position: relative;
  }
}

/* mobile click zone for translation is weird */
#languages-dropdown {
  pointer-events: none;
}
#languages-dropdown-items {
  pointer-events: all;
}

#redirectMessage {
  font-size: 30px;
  line-height: 30px;
  padding-top: 100px;
  margin: auto;
  max-width: 800px;
  text-align: center;
}

#redirectBanner {
  background: #808080;
  color: #fff;
  display: none;
  font-weight: 300;
  margin: auto;
  padding: 10px 0;
  text-align: center;
}

#redirectBanner a {
  color: #fff;
  opacity: 0.6;
}

#redirectBanner a:hover {
  opacity: 1;
}

#redirectLink {
  white-space: nowrap;
}

.navPusher {
  height: auto;
}

.post-authorName {
  /* annoying extra height even though it's unused */
  display: none;
}

.mainContainer .wrapper .post .postHeader {
  /* used to be 2em. too extreme */
  padding: 1em 0 0;
}
