@media (min-width: 480px) {
  .fixedHeaderContainer header > a > img, a.nav-home img {
    transition: 3s;
  }
  .fixedHeaderContainer header > a:hover > img {
    transform: rotate(1080deg);
  }
  a.nav-home:hover img {
    transform: rotate(-1080deg);
  }
}

.prism.language-javascript {
  border-left: 4px solid #f7df1e;
  background-color: rgba(247, 223, 30, 0.03);
}

@media only screen and (min-width: 480px) {
  .projectTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projectTitle > small {
    max-width: 40%;
  }
}

a.hash-link {
  transition: none;
}

.read-more .button {
  margin: 0;
}

.fixedHeaderContainer {
  padding: 9px 0;
}

/* only show language icon */
#languages-menu {
  font-size: 0px;
  padding: 0;
}
#languages-menu .languages-icon {
  margin: 0;
}

/* mobile click zone for translation is weird */
#languages-dropdown {
  pointer-events: none;
}
#languages-dropdown-items {
  pointer-events: all;
}

#redirectMessage {
  font-size: 30px;
  line-height: 30px;
  padding-top: 100px;
  margin: auto;
  max-width: 800px;
  text-align: center;
}

#redirectBanner {
  background: #808080;
  color: #fff;
  display: none;
  font-weight: 300;
  margin: auto;
  padding: 10px 0;
  text-align: center;
}

#redirectBanner a {
  color: #fff;
  opacity: 0.6;
}

#redirectBanner a:hover {
  opacity: 1;
}

#redirectLink {
  white-space: nowrap;
}
